*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
div{
    width: 40%;
    display: flex;
    background-attachment: fixed;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    font-size: 2em;
    
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 2px gray;

}
h2{
    color: white;
}
.bg-1{
    width: 100%;
    height: 120vh;
    background-image: none;
    background-image: url(../images/backgroundimage.png);
   
}

.bg-2{
    width: 100%;
    height: 100vh;
    background-image: url(../images/mountain.avif);
}
.bg-3{
    width: 100%;
    height: 100vh;
    background-image: url(../images/backgroundimage.png);
}
.bg-4{
    width: 100%;
    height: 100vh;
    background-image: url(../images/mountain.avif);
}
.bg-5{
    width: 100%;
    height: 100vh;
    background-image: url(../images/backgroundimage.png);
}